---
# tasks file for app
- name: install nginx, php, php-fpm, mysql connector
  ansible.builtin.dnf:
      name: "{{ packages }}"
      state: present

- name: start and enable nginx and php-fpm
  ansible.builtin.systemd_service:
      name: "{{ item }}"
      state: started
      enabled: true
  loop: "{{ services }}"
- name: deploy php application
  ansible.builtin.copy:
      dest: "{{ web_file_path }}"
      content: |
        <?php
        $servername = "{{db_server_public_ip}}";
        $username = "appuser";
        $password = "app123";
        $dbname = "FCT";
        

        $conn = new mysqli($servername, $username, $password, $dbname);

        if ($conn->connect_error) {
            die("DB Connection Failed: " . $conn->connect_error);
        }

        $conn->query("CREATE TABLE IF NOT EXISTS users (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(50)
        )");

        if ($_SERVER["REQUEST_METHOD"] == "POST") {
            $name = $_POST["name"];
            $conn->query("INSERT INTO users (name) VALUES ('$name')");
        }
        ?>

        <!DOCTYPE html>
        <html>
        <body>
            <h2>Enter Your Name</h2>
            <form method="post">
                <input type="text" name="name" required>
                <input type="submit" value="Submit">
            </form>

            <h3>Stored Names</h3>
            <?php
            $result = $conn->query("SELECT * FROM users");
            while ($row = $result->fetch_assoc()) {
                echo $row['name'] . "<br>";
            }
            ?>
        </body>
        </html>

